@charset "UTF-8";
/* CSS Document */
/* This is the stylesheet for the website. The classes will have color coordiaionts for the website*/


.background 
{
	background-color: #fffccc;
}

.title
{
	color: #ff6633;
	family-font: bold, sans-serif;
}

.orange
{
	color: #ff6633;
}

.navy
{
	color: #003764;
}

.black
{
	color: #000000;
	font-family: Times, "Times New Roman";
}

.white
{
	color:#FFFFFF;
}
